@media (min-width: 426px) and (max-width: 1024px) {

  /*  ======================================================

    HEADER STYLES

    ======================================================*/

  #header h1 {
    text-align: left;
    margin-left: 10px;
  }

/*  ======================================================

    INPUT NAME CONTAINER

    ======================================================*/

  #div-for-two {
    flex-flow:row nowrap;
  }
  
  #input-name {
    min-width: 260px;
    height: 50px;
  }
  
  #confirm {
    min-width: 90px;
    margin-left: 10px;
    height: 48px;
  }



  
  /*  ======================================================

    GUESS STYLES

    ======================================================*/

    #guess-div {
      padding: 80px 0 0 0; 
    }

    #ctry-flag {
      width: 350px;
    }

    #great-no {
      position: relative;
      margin: 30px 0 0 30px;
    }

    #great-btn, #no-btn {
      width: 100px;
      height: 50px;
      padding: 5px 10px;
    }
}